<div class="suggerimenti">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h2>Suggeriamo anche ...</h2>
        <p>Il look Monday to Friday?
          Impeccabile con un twist.
          Scopri le camicie, gli abiti
          e gli accessori a prova di
          riunioni e  conference call.
        </p>
      </div>
      <div class="col-sm-3 img">
        <img src="/../../../assets/images/sugg1.jpg" />
      </div>
      <div class="col-sm-3 img">
        <img src="/../../../assets/images/sugg2.jpg" />
      </div>
      <div class="col-sm-3 img">
        <img src="/../../../assets/images/sugg3.jpg" />
      </div>
    </div>
  </div>
</div>
