<div class="container">
  <h2>I più desiderati</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing
    elit,sed do eiusmod tempor incididunt ut l.
  </p>
  <div class="row">
    <div class="col-sm-12 wrap">
      <button (click)="movePanelLeft()" class="left"><i class="flaticon-arrows"> </i></button>

      <div class="carousel">
        <ul [@carouselState]="state" class="slides">
          <li *ngFor="let image of images; let i = index" [class.active]="image.active">
            <a routerLink="/prodotto">
              <div class="slide">
                <img src="{{image.url}}" alt="">
                <span class="brand"><p>{{image.brand}}</p></span>
                <span class="name"><p>{{image.name}}</p></span>
                <span class="price"><p>{{image.price}}</p></span>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <button (click)="movePanelRight()" class="right"><i class="flaticon-arrows-1"> </i></button>

      <ol class="carousel-indicators">
        <li [class.active]="isActiveStart"></li>
        <li [class.active]="isActiveMid"></li>
        <li [class.active]="isActiveEnd"></li>
      </ol>

    </div>
  </div>
</div>
