<!-- TRENDS -->
<div class="vetrinap">
  <div class="container">

    <div class="row">
      <div class="col-sm-9">

        <div class="row">
          <div class="col-sm-8">
            <div class="product">
              <img class="img-responsive" src="assets/images/products/result1.jpg">
              <h5>Brand</h5>
              <p>Nome Prodotto <span class="price">125,99 €</span></p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="product">
              <img class="img-responsive" src="assets/images/products/result2.jpg">
              <h5>Brand</h5>
              <p>Nome Prodotto <span class="price">125,99 €</span></p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="product">
              <img class="img-responsive" src="assets/images/products/result4.jpg">
              <h5>Brand</h5>
              <p>Nome Prodotto <span class="price">125,99 €</span></p>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-6">
                <div class="product">
                  <img class="img-responsive" src="assets/images/products/result5.jpg">
                  <h5>Brand</h5>
                  <p>Nome Prodotto <span class="price">125,99 €</span></p>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="product">
                  <img class="img-responsive" src="assets/images/products/result6.jpg">
                  <h5>Brand</h5>
                  <p>Nome Prodotto <span class="price">125,99 €</span></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="product">
                  <img class="img-responsive" src="assets/images/products/result7.jpg">
                  <h5>Brand</h5>
                  <p>Nome Prodotto <span class="price">125,99 €</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-sm-3">
        <div class="product">
          <img class="img-responsive" src="assets/images/products/result3.jpg">
          <h5>Brand</h5>
          <p>Nome Prodotto <span class="price">125,99 €</span></p>
        </div>
        <div class="product">
          <img class="img-responsive" src="assets/images/products/result8.jpg">
          <h5>Brand</h5>
          <p>Nome Prodotto <span class="price">125,99 €</span></p>
        </div>
      </div>
    </div>

    <div class="row">
      <button>Vedi altre idee</button>
    </div>

  </div>
</div>
