<!-- FOOTER -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h4>Chi Siamo</h4>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <ul>
              <li><a><p>I nostri partners</p></a></li>
              <li><a><p>Acquisto e spedizione</p></a></li>
              <li><a><p>Returns and Refunds</p></a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6">
            <ul>
              <li><a><p>Domande Frequenti</p></a></li>
              <li><a><p>Termini e Condizioni</p></a></li>
              <li><a><p>Privacy e Policy</p></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4>Seguici Su</h4>
        <div class="social">
          <a routerLink="#"><i class="fa fa-facebook-f"></i></a>
          <a routerLink="#"><i class="fa fa-twitter"></i></a>
          <a routerLink="#"><i class="fa fa-google-plus"></i></a>
          <a routerLink="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <p class="language"><b>LINGUA</b> <span><a routerLink="#">ITA</a></span> <a routerLink="#">ENG</a></p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4>Contattaci</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipscing elit.</p>
        <p><i class="fa fa-phone"></i> +39 06 819 33 03 </p>
        <p><a href="mailto: info@speedygift.it"> <i class="fa fa-envelope"></i> info@speedygift.it</a></p>
      </div>
    </div>
  </div>
</div>
