a {
  color: #403c4a;
}
ul.nav.navbar-nav, .navbar-header {
  padding: 4px 0;
}
.navbar {
  margin-bottom: 0;
}
.navbar-default {
  background-color: white;
  border: none;
  font-family: "Titillium Web";
}

.navbar-brand {
  padding: 10px 15px;
  margin-right: 20px;
}

.navbar-brand img {
  max-height:30px;

}

.navbar-nav a {
  text-transform: uppercase;
  font-weight: bold;
  color: #403c4a;
  font-size: 15px;
  cursor: pointer;
}

.navbar-nav a:hover, a:focus, a:hover {
  color: #c74a6c;
  text-decoration: none;
  -webkit-transition: all .2s; /* Safari */
  transition: all .5s;
}

.navbar-nav.navbar-right a {
  color: #c74a6c;
  padding: 15px 5px;
}
.social-login, .form {
  padding-top: 20px;
}
.nav-icons:hover i, .nav-icons.active i {
  color: #c74a6c;
  border-bottom: 2px solid #c74a6c;
  -webkit-transition: all .2s; /* Safari */
  transition: all .5s;
}
.nav-icons i {
  margin-left: 0px;
  color: #403c4a;
}
.login, .gruppo {
  position: relative;
  overflow: hidden;
  box-shadow: inset 1px 4px 9px -6px;
}
.login .container {
  padding-bottom: 20px;
}
.login h4, .login h5 {
  color: #c74a6c;
  text-transform: uppercase;
  font-weight: bold;
}
.social-login {
  background-color: #403c4a;
  color: white;
  padding-bottom: 60px;
}
.social-login a {
  color: white;
}
.login .social-login h4, .login .social-login h5 {
  color: white;
}
.social-login p {
  font-size: .9em;
  font-weight:normal;
}
.social-login .social a i.fa {
  height: 40px;
  width: 40px;
  padding:15px 10px;
  text-align: center;
  margin-right: 10px;
  color: white;
}
.social-login .social a i.fa:hover {
  background-color: #c74a6c;
  -webkit-transition: all .2s; /* Safari */
  transition: all .5s;
}
.social-login .social a i.fa-facebook-f {
  background-color: #3c589e;
}
.social-login .social a i.fa-twitter {
  background-color: #00aced;
}
.social-login .social a i.fa-google-plus {
  background-color: #dc4a38;
}
.password {
  margin-bottom: 40px;
}
.btn {
  background-color: #c74a6c;
  color: white;
  border: none;
  border-radius: 0;
  width: 100%;
  text-transform: uppercase;
  padding: 10px;
}
.btn:focus {
  outline: none;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-size: 16px !important;
  margin-left: 0px !important;
}
input[type=checkbox]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}
input[type=checkbox   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}
input[type=checkbox   ]:not(old) + label > span{
  display          : inline-block;
  width            : 15px;
  height           : 15px;
  margin           : 0.25em 0.5em 0.25em 0;
  border           : 1px solid #403c4a;
  vertical-align   : bottom;
}
input[type=checkbox]:not(old):checked + label > span > span{
  display          : block;
  width: 7px;
  height: 7px;
  margin: 3px;
  background       : #c74a6c;
}
.subform {
  color: #403c4a;
  text-align: center;
  font-size: .9em;
  margin-top: 20px;
}
.form-control {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #403c4a;
  border-radius: 0;
  margin: 20px 0;
}
a.sub-password {
  text-decoration: underline;
  color: #c74a6c;
  font-size: .75em;
  margin-top: -10px;
  padding-top: 0;
}
.contact i.fa {
  color: #9e7c97;
  margin-right: 10px;
}
.gruppo {
  margin-bottom: 20px;
}
.gruppo .gift-head {
  clear: both;
  width: 100%;
  display: inline-block;
  padding-left: 20px;
}

.gruppo .gift-head h3 {
  text-transform: uppercase;
  float: left;
  font-weight: bold;
}
.gruppo .gift-head p {
  font-weight: bold;
  float: right;
  margin-top: 20px;
  font-size: 20px;
  color: #c74a6c;
}
.gruppo .gift-head span {
  color: #403c4a;
}
.gruppo ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  text-transform: uppercase;
  margin-top: -10px;
  margin-left: 20px;
}
.gruppo ul li {
  margin-right: 15px;
  cursor: pointer;
}
.gruppo ul li a.active {
  color: #c74a6c;
}
.gruppo table {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .9em;
}
.gruppo table tr {
  border: thin solid #e6e6e6;
}
.gruppo td {
  padding: 5px 20px;
  color: #a39a01;
}
.gruppo td.price {
  background-color: #a39a01;
  color: white;
  width: 50px;
}
.gruppo .paid td {
  color: #c74a6c;
}
.gruppo .paid td.price {
  background-color: #c74a6c;
  color: white;
}
.gruppo table .table-space {
  display: block;
  margin: 5px;
}
.gruppo a.group-add {
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 5px;
  display: block;
}
.gruppo a.group-add span {
  font-size: 1.5em;
  margin-right: 5px;
}
.gruppo .group-mid {
  background-image: url("../../../assets/images/group-marco.jpg");
  background-size: cover;
}
.gruppo .group-mid .info-prod {
  background-color: rgba(163, 154, 1, 0.75);
  color: white;
  padding: 10px 15px 1px;
  margin: 80px 0 15px;
}
.gruppo .group-mid .info-prod p {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: .75em;
}
.gruppo .group-mid .info-prod h5 {
  margin-top: 0px;
  margin-bottom: 15px;
}
.gruppo .group-mid .info-prod hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #a39a01;
}
.gruppo .group-dx {
  background-color: #403c4a;
  padding: 20px 40px;
}
.gruppo .group-dx table {
  text-transform: none;
}
.gruppo .group-dx table tr {
  border: none;
}
.gruppo .group-dx table td {
  color: white;
  font-weight: 100;
  padding-left: 0;
  padding-right: 0;
}
.gruppo .group-dx table td:nth-child(2) {
  text-align: right;
}
.gruppo .group-dx button {
  color: white;
  text-transform: uppercase;
  background-color: #a39a01;
  border: none;
  text-align: center;
  padding:7px;
  font-size: 12px;
  width: 100%;
  margin-top: 10px;
}
.gruppo .group-dx .negative {
  background-color: transparent;
  border: 2px solid #a39a01;
}
@media (max-width: 767px) {
  .navbar .navbar-right li {
    float: left;
    margin-left: 15px;
  }
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
  .social-login:before {
    left: 0;
    background: #403c4a;
    content: '';
    display: block;
    position: absolute;
    width: 999em;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .gruppo .group-mid:after {
    content: ' ';
    background-color: #403c4a;
    position: absolute;
    height: 100%;
    width: 9999em;
    right: -9999em;
    top: 0;
  }
}
