<!-- SLIDER -->
<div class="slider">
  <div class="container">
    <h1>Laboris nisi ut aliquip ex ea commodo consequat</h1>
    <h1 class="subtitle">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</h1>
    <br>
    <button class="btn btn-default">Registrati</button>
  </div>
</div>
<div class="boxes">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="slider-left-box">
          <h2>Come Funziona?</h2>
          <p>
            orrupti quos dolores et quas molestias excepturi sint occaecati. Eaque ipsa quae ab illo inventore veritatis et quasi.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3" style="z-index: 3;">
        <div class="slider-right-box">
          <i class="flaticon-tool" aria-hidden="true"></i>
          <h3>Acquista</h3>
          <p>
            Esse cillum dolore eu fugiat nulla pariatur. Corrupti quos dolores.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="slider-right-box">
          <i class="flaticon-christmas" aria-hidden="true"></i>
          <h3>Regala</h3>
          <p>
            Esse cillum dolore eu fugiat nulla pariatur. Corrupti quos dolores.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="slider-right-box">
          <i class="flaticon-profile" aria-hidden="true"></i>
          <h3>Condividi</h3>
          <p>
            Esse cillum dolore eu fugiat nulla pariatur. Corrupti quos dolores.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
