<!-- SLIDER -->
<div class="slider">
  <div class="container">
    <h1>Idee originali per tutti i guisti e tutte le occasioni</h1>
    <h1 class="subtitle">e servizi esclusivi per regalare un'esperienza indimenticabile in modo pratico e divertente.</h1>
    <br>
    <button class="button">Registrati</button>
  </div>
</div>
<div class="boxes">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="slider-left-box">
          <h2>Come Funziona?</h2>
          <p>
            orrupti quos dolores et quas molestias excepturi sint occaecati. Eaque ipsa quae ab illo inventore veritatis et quasi.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3" style="z-index: 3;">
        <div class="slider-right-box"  routerLink="/vetrina" style="cursor: pointer;">
          <i class="flaticon-tool" aria-hidden="true"></i>
          <h3>Vetrina<br>Prodotti</h3>
          <p>
            Prodotti originali per regali geniali
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="slider-right-box" (click)="gruppo = !gruppo" style="cursor: pointer;">
          <i class="flaticon-christmas" aria-hidden="true"></i>
          <h3>Regali di<br>Gruppo</h3>
          <p>
            Fai un regalo con i tuoi amici
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="slider-right-box">
          <i class="flaticon-magnifying-glass" aria-hidden="true"></i>
          <h3>Guida<br>Regali</h3>
          <p>
            Sei a corto di idee? Ci pensiamo noi!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
