<!-- TRENDS -->
<div class="trends">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 sidebar">
        <h2>Scopri gli ultimi trend</h2>
        <p>
          Lorem ipsum dolor sit amet,
          consectetur adipiscing elit,sed do
          eiusmod tempor incididunt ut l.
        </p>
        <a routerLink="/vetrina"><span class="flaticon-arrows-1"></span></a>
        <ul>
          <li><a class="active" routerLink="/vetrina">Moda</a></li>
          <li><a routerLink="/vetrina">Scarpe</a></li>
          <li><a routerLink="/vetrina">Gadget</a></li>
          <li><a routerLink="/vetrina">Elettronica</a></li>
          <li><a routerLink="/vetrina">Categoria 5</a></li>
          <li><a routerLink="/vetrina">Categoria 6</a></li>
        </ul>
      </div>
      <div class="col-sm-9 trend-photos">
        <div class="row">
          <div class="col-xs-12" style="position: relative;">
            <div class="view">
              <div class="thumb">
                <img class="img-responsive" src="assets/images/thumb1.jpg">
                <div class="mask">
                  <div class="content">
                    <a href="#" class="info" title="Full Image">Promozioni<br>Marzo</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="view">
              <div class="thumb">
                <img class="img-responsive" src="assets/images/thumb2.jpg">
                <div class="mask">
                  <div class="content">
                    <a href="#" class="info" title="Full Image">Nuova<br>Collezione</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="view">
              <div class="thumb">
                <img class="img-responsive" src="assets/images/thumb3.jpg">
                <div class="mask">
                  <div class="content">
                    <a href="#" class="info" title="Full Image">Uomo</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="view">
              <div class="thumb">
                <img class="img-responsive" src="assets/images/thumb4.jpg">
                <div class="mask">
                  <div class="content">
                    <a href="#" class="info" title="Full Image">Primavera<br>2017</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="view">
              <div class="thumb">
                <img class="img-responsive" src="assets/images/thumb5.jpg">
                <div class="mask">
                  <div class="content">
                    <a href="#" class="info" title="Full Image">Novità</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12" style="position: relative;">
            <div class="view">
              <div class="thumb">
                <img class="img-responsive" src="assets/images/thumb6.jpg">
                <div class="mask">
                  <div class="content">
                    <a href="#" class="info" title="Full Image">I nostri<br>consigli</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="view last">
              <div class="thumb">
                <img class="img-responsive" src="assets/images/thumb7.jpg">
                <div class="mask">
                  <div class="content">
                    <a href="#" class="info" title="Full Image">Full Image</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row home-carousel">
      <div class="col-sm-3">
        <div class="left-carousel">
        </div>
      </div>
      <div class="col-sm-6 right-carousel">
        <carousel>
          <slide>
            <img src="assets/images/carousel/1.jpg" alt="First slide">
            <div class="slide-cap">
              <h3>Cuffie Sony MDR-ZX110AP </h3>
              <p>
                Lorem ipsum dolor sit amet ipsum dolor sit amet lorem ipsum dolor
              </p>
              <span>29,99€</span>
            </div>
          </slide>
          <slide>
            <img src="assets/images/carousel/2.jpg" alt="Second slide">
            <div class="slide-cap">
              <h3>Scarpe décolleté tacco stiletto</h3>
              <p>
                Lorem ipsum dolor sit amet ipsum dolor sit amet lorem ipsum dolor
              </p>
              <span>149,99€</span>
            </div>
          </slide>
          <slide>
            <img src="assets/images/carousel/3.jpg" alt="Third slide">
            <div class="slide-cap">
              <h3>Lampada da tavolo design originale</h3>
              <p>
                Lorem ipsum dolor sit amet ipsum dolor sit amet lorem ipsum dolor
              </p>
              <span>319,99€</span>
            </div>
          </slide>
        </carousel>
      </div>
      <div class="col-sm-3">
        <h2>Le nostre novità</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor icididunt ut.
        </p>
      </div>
    </div>
  </div>
</div>
