    /*
    Flaticon icon font: Flaticon
    Creation date: 02/04/2017 11:20
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-time:before { content: "\f100"; }
.flaticon-technology-1:before { content: "\f101"; }
.flaticon-cosmetics:before { content: "\f102"; }
.flaticon-home:before { content: "\f103"; }
.flaticon-diamond:before { content: "\f104"; }
.flaticon-fashion-2:before { content: "\f105"; }
.flaticon-hand-bag:before { content: "\f106"; }
.flaticon-fashion-1:before { content: "\f107"; }
.flaticon-woman:before { content: "\f108"; }
.flaticon-fashion:before { content: "\f109"; }
.flaticon-smile:before { content: "\f10a"; }
.flaticon-transport:before { content: "\f10b"; }
.flaticon-church:before { content: "\f10c"; }
.flaticon-stripes:before { content: "\f10d"; }
.flaticon-technology:before { content: "\f10e"; }
.flaticon-party:before { content: "\f10f"; }
.flaticon-diploma:before { content: "\f110"; }
.flaticon-handshake:before { content: "\f111"; }
.flaticon-school:before { content: "\f112"; }
.flaticon-marriage-rings-couple-with-a-heart:before { content: "\f113"; }
.flaticon-signs:before { content: "\f114"; }
.flaticon-plus-symbol:before { content: "\f115"; }
.flaticon-check:before { content: "\f116"; }
.flaticon-cancel:before { content: "\f117"; }
.flaticon-arrows-1:before { content: "\f118"; }
.flaticon-arrows:before { content: "\f119"; }
.flaticon-profile:before { content: "\f11a"; }
.flaticon-magnifying-glass:before { content: "\f11b"; }
.flaticon-shapes:before { content: "\f11c"; }
.flaticon-christmas:before { content: "\f11d"; }
.flaticon-tool:before { content: "\f11e"; }
.flaticon-shopping-bag:before { content: "\f11f"; }
    
    $font-Flaticon-time: "\f100";
    $font-Flaticon-technology-1: "\f101";
    $font-Flaticon-cosmetics: "\f102";
    $font-Flaticon-home: "\f103";
    $font-Flaticon-diamond: "\f104";
    $font-Flaticon-fashion-2: "\f105";
    $font-Flaticon-hand-bag: "\f106";
    $font-Flaticon-fashion-1: "\f107";
    $font-Flaticon-woman: "\f108";
    $font-Flaticon-fashion: "\f109";
    $font-Flaticon-smile: "\f10a";
    $font-Flaticon-transport: "\f10b";
    $font-Flaticon-church: "\f10c";
    $font-Flaticon-stripes: "\f10d";
    $font-Flaticon-technology: "\f10e";
    $font-Flaticon-party: "\f10f";
    $font-Flaticon-diploma: "\f110";
    $font-Flaticon-handshake: "\f111";
    $font-Flaticon-school: "\f112";
    $font-Flaticon-marriage-rings-couple-with-a-heart: "\f113";
    $font-Flaticon-signs: "\f114";
    $font-Flaticon-plus-symbol: "\f115";
    $font-Flaticon-check: "\f116";
    $font-Flaticon-cancel: "\f117";
    $font-Flaticon-arrows-1: "\f118";
    $font-Flaticon-arrows: "\f119";
    $font-Flaticon-profile: "\f11a";
    $font-Flaticon-magnifying-glass: "\f11b";
    $font-Flaticon-shapes: "\f11c";
    $font-Flaticon-christmas: "\f11d";
    $font-Flaticon-tool: "\f11e";
    $font-Flaticon-shopping-bag: "\f11f";