<!-- FOOTER -->
<div class="filtri">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <h3>Lorem ipsum dolor sit amet</h3>
      </div>
      <div class="col-xs-12 col-sm-9">
        <div class="filter">
          <div class="box">
            <button (click)="filter = 1">Brand <span class="flaticon-plus-symbol"></span></button>
          </div>
          <div class="drop">
            <div *ngIf="filter == 1" [@flyInOutBrand] class="options">
              <p>BRAND<span (click)="filter = 0" class="flaticon-cancel"></span></p>
              <ul>
                <li (click)="filter = 0"><a>Nike</a></li>
                <li (click)="filter = 0"><a>Adidas</a></li>
                <li (click)="filter = 0"><a>Reebok</a></li>
                <li (click)="filter = 0"><a>La Perla</a></li>
                <li (click)="filter = 0"><a>Lacoste</a></li>
                <li (click)="filter = 0"><a>Fred Perry</a></li>
                <li (click)="filter = 0"><a>Ralph Lauren</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="filter">
          <div class="box">
            <button (click)="filter = 2">Colore <span class="flaticon-plus-symbol"></span></button>
          </div>
          <div class="drop">
            <div *ngIf="filter == 2" [@flyInOutColor] class="options">
              <p>COLORE<span (click)="filter = 0" class="flaticon-cancel"></span></p>
              <div class="colorpick"><div (click)="filter = 0" class=" green"></div></div>
              <div class="colorpick"><div (click)="filter = 0" class=" blue"></div></div>
              <div class="colorpick"><div (click)="filter = 0" class=" red"></div></div>
              <div class="colorpick"><div (click)="filter = 0" class=" grey"></div></div>
              <div class="colorpick"><div (click)="filter = 0" class=" yellow"></div></div>
              <div class="colorpick"><div (click)="filter = 0" class=" purple"></div></div>
              <div class="colorpick"><div (click)="filter = 0" class=" beige"></div></div>
              <div class="colorpick"><div (click)="filter = 0" class=" orange"></div></div>
              <br>
              <a (click)="filter = 0" style="text-align: center; margin: 90px 0 0; display: block; color: #403c4a; cursor: pointer;">APPLICA</a>
            </div>
          </div>
        </div>
        <div class="filter">
          <div class="box">
            <button (click)="filter = 3">Taglia <span class="flaticon-plus-symbol"></span></button>
          </div>
          <div class="drop">
            <div *ngIf="filter == 3" [@flyInOutSize] class="options">
              <p>TAGLIA<span (click)="filter = 0" class="flaticon-cancel"></span></p>
              <ul>
                <li (click)="filter = 0"><a>XXL</a></li>
                <li (click)="filter = 0"><a>XL</a></li>
                <li (click)="filter = 0"><a>Large</a></li>
                <li (click)="filter = 0"><a>Medium</a></li>
                <li (click)="filter = 0"><a>Small</a></li>
                <li (click)="filter = 0"><a>XS</a></li>
                <li (click)="filter = 0"><a>XXS</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="filter">
          <div class="box">
            <button (click)="filter = 4">Prezzo <span class="flaticon-plus-symbol"></span></button>
          </div>
          <div class="drop">
            <div *ngIf="filter == 4" [@flyInOutPrice] class="options">
              <p>PREZZO<span (click)="filter = 0" class="flaticon-cancel"></span></p>
              <ul>
                <li (click)="filter = 0"><a>Meno di 10€</a></li>
                <li (click)="filter = 0"><a>Fino a 50€</a></li>
                <li (click)="filter = 0"><a>Fino a 100€</a></li>
                <li (click)="filter = 0"><a>Fino a 200€</a></li>
                <li (click)="filter = 0"><a>Fino a 300€</a></li>
                <li (click)="filter = 0"><a>Fino a 400€</a></li>
                <li (click)="filter = 0"><a>Fino a 500€</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="filter">
          <div class="box">
            <button (click)="filter = 5">Ordina <span class="flaticon-plus-symbol"></span></button>
          </div>
          <div class="drop">
            <div *ngIf="filter == 5" [@flyInOutOrder] class="options">
              <p>ORDINA<span (click)="filter = 0" class="flaticon-cancel"></span></p>
              <ul>
                <li (click)="filter = 0"><a>Più economico</a></li>
                <li (click)="filter = 0"><a>Più costoso</a></li>
                <li (click)="filter = 0"><a>Più recente</a></li>
                <li (click)="filter = 0"><a>Meno recente</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
