<div class="productinfo">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 prodcarousel">
        <carousel>
          <slide>
            <img src="assets/images/products/prod1-1.jpg" alt="First slide">
          </slide>
          <slide>
            <img src="assets/images/products/prod1-2.jpg" alt="Second slide">
          </slide>
          <slide>
            <img src="assets/images/products/prod1-3.jpg" alt="Third slide">
          </slide>
          <slide>
            <img src="assets/images/products/prod1-4.jpg" alt="Third slide">
          </slide>
        </carousel>
        <p class="share">Condividi <span class="fa fa-facebook-f"></span> <span class="fa fa-twitter"></span> <span class="fa fa-google-plus"></span></p>
      </div>
      <div class="col-sm-4 scheda">
        <h4>Brand</h4>
        <h3>Nome Prodotto <span>29,99€</span></h3>
        <p>
          Colore
          <i class="square nero"></i>
          <i class="square viola"></i>
          <i class="square verde"></i>
          <i class="square bianco"></i>
        </p>
        <a class="filter">Taglia <b>M</b> <span class="flaticon-plus-symbol"></span></a>
        <button class="button button-green buy">Acquista</button>
        <button class="button button-green-line gift">Regala</button>
        <button class="button button-green-line wishlist">Aggiungi ai preferiti</button>
        <a class="filter">Descrizione <span class="flaticon-plus-symbol"></span></a>
        <a class="filter">Negozio <span class="flaticon-plus-symbol"></span></a>
        <a class="filter">Spedizione <span class="flaticon-plus-symbol"></span></a>
      </div>
    </div>
  </div>
</div>
<div class="container shop">
  <div class="row">
    <div class="col-md-3">
      <h3>Scopri le altre offerte di questo negozio</h3>
      <h5>Nome del negozio</h5>
      <p>
        Lorem ipsum dolor sit amet,
        consectetur adipiscing elit,sed do
        eiusmod tempor incididunt ut Lorem
        ipsum dolor sit amet, consectetur
        adipiscing elit,sed do eiusmod
        tempor
      </p>
    </div>
    <div class="col-md-3">
      <img src="assets/images/thumb1.jpg">
    </div>
    <div class="col-md-3">
      <img src="assets/images/thumb2.jpg">
      <img src="assets/images/thumb4.jpg">
    </div>
    <div class="col-md-3">
      <img src="assets/images/thumb3.jpg">
      <img src="assets/images/thumb5.jpg">
    </div>
  </div>
</div>
