.video-promo {
  margin-top: 100px;
  margin-bottom: 40px;
  font-family: "Titillium Web";
  position: relative;
}

.video-promo .right {
  width: 100%;
  color: white;
  background-color: #a39a01;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  margin-top: -40px;
  float: right;
}

.video-promo .right h2 {
  font-weight: bold;
}

.video-promo .left {
  position: relative;
  width: 100%;
  float: left;
}



@media (max-width: 767px) {
  .trends .sidebar ul {
    padding: 0px;
    display: inline-block;
    text-align: left;
  }
  .trends .sidebar li {
    display: inline-block;
    margin: 0 10px 0 0;
  }

}

@media (min-width: 768px) {

  .video-promo {
    margin-top: 150px;
  }
  .video-promo .right {
    width: 40%;
  }
  .video-promo .left {
    width: 60%;
  }
  .left:after {
    position: absolute;
    top: -40px;
    right: -66.6666666%;
    content: " ";
    height: 100%;
    width: 100%;
    background-color: #a39a01;
    z-index: -1;
  }
  .right:before {
    content: " ";
    position: absolute;
    background-color: #a39a01;
    right: 15px;
    width: 58%;
    height: 100%;
    z-index: -1;
    top: 0px;
  }
}
@media (min-width: 992px) {
  .right:before {
    top: -40px;
  }
}
