<div class="suggerimenti">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h2>Bentornata Maria!</h2>
        <p>
          Scopri i prodotti più di tendenza
          e acquistati del momento
        </p>
      </div>
      <div class="col-sm-3 img">
        <img src="/../../../assets/images/sugg1.jpg" />
      </div>
      <div class="col-sm-3 img">
        <img src="/../../../assets/images/sugg2.jpg" />
      </div>
      <div class="col-sm-3 img">
        <img src="/../../../assets/images/sugg3.jpg" />
      </div>
    </div>
  </div>
</div>
