<div class="cart">
  <div class="container">
    <h1>CARRELLO DELLA SPESA</h1>
    <div class="row">
      <div class="col-sm-8">

        <table class="product">
          <tr>
            <td class="thumb"><img src="/../../../assets/images/cart1.jpg" /></td>
            <td class="detail">
              <span class="flaticon-cancel"></span>
              <h5>Brand</h5>
              <h3>Nome Prodotto</h3>
              <p>QUANTITÀ:
                <select class="selectpicker dropup">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </p>
              <p>TAGLIA: M</p>
              <p>COLORE: ROSA <span>125,99 €</span></p>
            </td>
          </tr>
        </table>

        <table class="product">
          <tr>
            <td class="thumb"><img src="/../../../assets/images/cart2.jpg" /></td>
            <td class="detail">
              <span class="flaticon-cancel"></span>
              <h5>Brand</h5>
              <h3>Nome Prodotto</h3>
              <p>QUANTITÀ:
                <select class="selectpicker dropup">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </p>
              <p>TAGLIA: M</p>
              <p>COLORE: ROSA <span>125,99 €</span></p>
            </td>
          </tr>
        </table>

        <table class="product">
          <tr>
            <td class="thumb"><img src="/../../../assets/images/cart3.jpg" /></td>
            <td class="detail">
              <span class="flaticon-cancel"></span>
              <h5>Brand</h5>
              <h3>Nome Prodotto</h3>
              <p>QUANTITÀ:
                <select class="selectpicker dropup">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </p>
              <p>TAGLIA: M</p>
              <p>COLORE: ROSA <span class="flaticon-christmas">0,00 €</span></p>
            </td>
          </tr>
        </table>

      </div>
      <div class="col-sm-4">
        <div class="recap">
          <p>Subtotale <span>250,00€</span></p>
          <p>Spedizione <span>0,00€</span></p>
          <hr>
          <p>TOTALE <span>250,00€</span></p>
          <i>IVA Inclusa</i>
          <button class="button button-green">Vai al checkout</button>
        </div>
      </div>
    </div>
  </div>
</div>



