<!-- TRENDS -->
<div class="vetrinap">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 sidebar">
        <h4>Tutti i prodotti</h4>
        <ul>
          <li><a class="active" routerLink="/vetrina">Abbigliamento</a></li>
          <li><a routerLink="/vetrina">Scarpe</a></li>
          <li><a routerLink="/vetrina">Borse</a></li>
          <li><a routerLink="/vetrina">Accessori</a></li>
          <li><a routerLink="/vetrina">Gioielli</a></li>
          <li><a routerLink="/vetrina">Casa</a></li>
          <li><a routerLink="/vetrina">Bambini</a></li>
          <li><a routerLink="/vetrina">Bellezza</a></li>
          <li><a routerLink="/vetrina">Gadgets</a></li>
        </ul>
      </div>
      <div class="col-sm-9 trend-photos">
        <div class="row numprod">
          <div class="col-xs-6"><p><span>2.250</span> Prodotti</p></div>
          <div class="col-xs-6"><p class="map"><span class="flaticon-signs"></span> VISUALIZZA LA MAPPA</p></div>
        </div>
        <div class="row">
          <div class="activefilters"></div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="product">
              <img class="img-responsive" src="assets/images/products/vetrina1.jpg">
              <h5>Brand</h5>
              <p>Nome Prodotto <span class="price">125,99 €</span></p>
            </div>
            <div class="product">
              <img class="img-responsive" src="assets/images/products/vetrina2.jpg">
              <h5 class="brand">Brand</h5>
              <p class="name">Nome Prodotto <span class="price">125,99 €</span></p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="product">
              <img class="img-responsive" src="assets/images/products/vetrina3.jpg">
              <h5 class="brand">Brand</h5>
              <p class="name">Nome Prodotto <span class="price">125,99 €</span></p>
            </div>
            <div class="product">
              <img class="img-responsive" src="assets/images/products/vetrina4.jpg">
              <h5 class="brand">Brand</h5>
              <p class="name">Nome Prodotto <span class="price">125,99 €</span></p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="product">
              <img class="img-responsive" src="assets/images/products/vetrina5.jpg">
              <h5 class="brand">Brand</h5>
              <p class="name">Nome Prodotto <span class="price">125,99 €</span></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="banner">
              <div class="caption">
                <h3>Tuffati nella moda parigina</h3>
                <p>Lorem Ipsum dolor si amet, consectetur adipiscing elit sed do eisumod tempor incididunt ut I.</p>
                <span class="flaticon-arrows-1"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <div class="product">
              <img class="img-responsive" src="assets/images/products/vetrina6.jpg">
              <h5>Brand</h5>
              <p>Nome Prodotto <span class="price">125,99 €</span></p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="product">
              <img class="img-responsive" src="assets/images/products/vetrina7.jpg">
              <h5>Brand</h5>
              <p>Nome Prodotto <span class="price">125,99 €</span></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="product">
              <img class="img-responsive" src="assets/images/products/vetrina8.jpg">
              <h5>Brand</h5>
              <p>Nome Prodotto <span class="price">125,99 €</span></p>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-12">
                <div class="product">
                  <img class="img-responsive" src="assets/images/products/vetrina9.jpg">
                  <h5>Brand</h5>
                  <p>Nome Prodotto <span class="price">125,99 €</span></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="product">
                  <img class="img-responsive" src="assets/images/products/vetrina10.jpg">
                  <h5>Brand</h5>
                  <p>Nome Prodotto <span class="price">125,99 €</span></p>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="product">
                  <img class="img-responsive" src="assets/images/products/vetrina11.jpg">
                  <h5>Brand</h5>
                  <p>Nome Prodotto <span class="price">125,99 €</span></p>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <button>Vedi di più</button>
        </div>
      </div>
    </div>
  </div>
</div>
