<!-- TRENDS -->
<div class="trends">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 sidebar">
        <h4>Tutti i prodotti</h4>
        <ul>
          <li><a class="active" href="/vetrina">Moda</a></li>
          <li><a href="/vetrina">Scarpe</a></li>
          <li><a href="/vetrina">Gadget</a></li>
          <li><a href="/vetrina">Elettronica</a></li>
          <li><a href="/vetrina">Categoria 5</a></li>
          <li><a href="/vetrina">Categoria 6</a></li>
        </ul>
      </div>
      <div class="col-sm-9 trend-photos">
        <div class="row">
          <div class="col-xs-6"><p class="numprod"><span>2.250</span> PRODOTTI</p></div>
          <div class="col-xs-6"><p class="numprod"><span class="-font-awesome"></span> VISUALIZZA LA MAPPA</p></div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="product">
              <img class="img-responsive" src="assets/images/thumb2.jpg">
              <h5 class="brand">Brand</h5>
              <p class="name">Nome Prodotto <span class="price">125,99 €</span></p>
            </div>
            <div class="product">
              <img class="img-responsive" src="assets/images/thumb3.jpg">
              <h5 class="brand">Brand</h5>
              <p class="name">Nome Prodotto <span class="price">125,99 €</span></p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="product">
              <img class="img-responsive" src="assets/images/thumb4.jpg">
              <h5 class="brand">Brand</h5>
              <p class="name">Nome Prodotto <span class="price">125,99 €</span></p>
            </div>
            <div class="product">
              <img class="img-responsive" src="assets/images/thumb5.jpg">
              <h5 class="brand">Brand</h5>
              <p class="name">Nome Prodotto <span class="price">125,99 €</span></p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="product">
              <img class="img-responsive" src="assets/images/thumb1.jpg">
              <h5 class="brand">Brand</h5>
              <p class="name">Nome Prodotto <span class="price">125,99 €</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
